@page "/"
@inject NavigationManager navManager

<PageTitle>Index</PageTitle>
<UpdateAvailableDetector></UpdateAvailableDetector>

<h1>Hello, world!8</h1>

<lottie-player style="max-width:300px" src="@navManager.BaseUri/lottie/CatsLottieAnimations/(7).json" speed="1" loop autoplay></lottie-player>

<img style="max-width:300px" src="loader.svg"/>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
