@page "/"
@inject NavigationManager navManager

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

<lottie-player src="@(navManager.BaseUri)/lottie/CatsLottieAnimations/(7).json" speed="1" loop autoplay></lottie-player>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
