@page "/Lottie/{Id:int}"
@inject IJSRuntime JSRuntime
@inject NavigationManager navManager

<PageTitle>Animation & sound</PageTitle>
<lottie-player src="@navManager.BaseUri/lottie/CatsLottieAnimations/(@Id).json" speed="1" loop autoplay></lottie-player>
<audio id="sound" src="@navManager.BaseUri/sound/correct.mp3" />
<button id="soundButton" @onclick="PlaySound">Click me</button>

@code {
    [Parameter]
    public int Id { get; set; }
    public string lottieFolderName { get; set; } = "CatsLottieAnimations";

    public async Task PlaySound()
    {
        await JSRuntime.InvokeAsync<string>("PlayAudio", "sound");
    }
}